# Next.js
.next/
out/
build/

# Node
node_modules/

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal

# Data (grands fichiers)
data/dvf/*.csv
data/iris/*.xlsx

# OS
.DS_Store
Thumbs.db
